.center {
  display: flex;
  justify-content: center;
}

.card {
  flex-grow: 1;
  max-width: 500px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 2rem;
}

.loginForm {
  margin: auto;
}
.loginFormForgot {
  float: right;
}
.loginFormButton {
  width: 100%;
}
