.mainContent {
  padding-left: 24px;
  padding-right: 24px;
}

.shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.tag {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.iconOffset {
  margin-bottom: 16px;
}

.minusButtonMargin {
  margin-bottom: 16px;
}
