.header {
  position: fixed;
  width: 100%;
  padding: 0px 0px 0px 0px;
  z-index: 1;
}

.logo {
  background: rgba(255, 255, 255, 0.2);
  padding: 0px 16px 0px 16px;
  margin: 0px;
  float: left;
  color: white;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 112px; /* 64 + 48*/
  padding-left: 24px;
  padding-right: 24px;
}

.footer {
  min-height: 5vh;
}
