.header {
  position: fixed;
  width: 100%;
  padding: 0px 0px 0px 0px;
  z-index: 1;
}

.logo {
  background: #001529;
  padding: 0px 32px 0px 32px;
  margin: 0px;
  float: left;
  color: white;
}

.userProfile {
  float: right;
  padding: 0px 16px 0px 16px;
  margin: 0px;
}

.content {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  padding-left: 24px;
  padding-right: 24px;
}

.footer {
  min-height: 5vh;
}

.dropdownMenu {
  top: 20px !important;
}
